/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.devs img{
    width: 400 px;
    height: 346 px;
    border-radius: 15%;
    box-shadow: 8px 8px 10px #aaa;
}

.darkBackground{
    background: #5C6BC0;
}
